# read Xresources
xrdb ~/.config/X11/Xresources &

# X11 settings
setxkbmap -option compose:ralt us &
xsetroot -cursor_name left_ptr &

# compositor
picom &

# clipboard menu
clipmenud &

# calendar
calcurse --daemon &
