# start x session
lxsession &

# read Xresources
xrdb ~/.config/X11/Xresources &

# X11 settings
setxkbmap -option compose:ralt us &
xsetroot -cursor_name left_ptr &

# compositor
picom &

# clipboard menu
clipmenud &

# calendar
calcurse --daemon &

# lock daemon
xset s 180 60
xss-lock -n dimscreen -- lock -n &
