#!/bin/sh

# set keyboard layout
setxkbmap us &

# set x cursor
xsetroot -cursor_name left_ptr &

# composite manager (e.g allows transparency)
picom &

# read Xresources
xrdb ~/.config/Xresources &

# set wallpaper
setwall --refresh &

# access backlight
sudo chmod a+rw /sys/class/backlight/intel_backlight/brightness &

# notifications
dunst &

# clipboard menu
clipmenud &

# calendar
calcurse --daemon &

# keyboard shortcut deamon
# sxhkd &

# status bar
dwmblocks &
