/**
 * Base16 {{scheme-name}} ROFI Color theme
 *
 * Authors
 *  Scheme: {{scheme-author}}
 *  Template: Jordi Pakey-Rodriguez (https://github.com/0xdec), Andrea Scarpino (https://github.com/ilpianista)
 */

* {
    bg: #{{base00-hex}};
    fg: #{{base05-hex}};
    fade: #{{base02-hex}};
    urgent: #{{base08-hex}};
    hl: #{{base0C-hex}};
}
