/**
 * Base16 Harmonic16 Dark ROFI Color theme
 *
 * Authors
 *  Scheme: Jannik Siebert (https://github.com/janniks)
 *  Template: Jordi Pakey-Rodriguez (https://github.com/0xdec), Andrea Scarpino (https://github.com/ilpianista)
 */

* {
    bg: #0b1c2c;
    fg: #cbd6e2;
    fade: #405c79;
    urgent: #bf8b56;
    hl: #568bbf;
}
