/**
 * Base16 Horizon Dark ROFI Color theme
 *
 * Authors
 *  Scheme: Michaël Ball (http://github.com/michael-ball/)
 *  Template: Jordi Pakey-Rodriguez (https://github.com/0xdec), Andrea Scarpino (https://github.com/ilpianista)
 */

* {
    bg: #1C1E26;
    fg: #CBCED0;
    fade: #2E303E;
    urgent: #E93C58;
    hl: #24A8B4;
}
