BG={{base00-hex}}
FG={{base05-hex}}
MENU_BG={{base00-hex}}
MENU_FG={{base07-hex}}
SEL_BG={{base02-hex}}
SEL_FG={{base07-hex}}
TXT_BG={{base00-hex}}
TXT_FG={{base05-hex}}
BTN_BG={{base0C-hex}}
BTN_FG={{base00-hex}}
HDR_BTN_BG={{base0C-hex}}
HDR_BTN_FG={{base00-hex}}
