/**
 * Base16 Solar Flare ROFI Color theme
 *
 * Authors
 *  Scheme: Chuck Harmston (https://chuck.harmston.ch)
 *  Template: Jordi Pakey-Rodriguez (https://github.com/0xdec), Andrea Scarpino (https://github.com/ilpianista)
 */

* {
    bg: #18262F;
    fg: #A6AFB8;
    fade: #586875;
    urgent: #EF5253;
    hl: #33B5E1;
}
