/**
 * Base16 OneDark ROFI Color theme
 *
 * Authors
 *  Scheme: Lalit Magant (http://github.com/tilal6991)
 *  Template: Jordi Pakey-Rodriguez (https://github.com/0xdec), Andrea Scarpino (https://github.com/ilpianista)
 */

* {
    bg: #282c34;
    fg: #abb2bf;
    fade: #3e4451;
    urgent: #e06c75;
    hl: #61afef;
}
